body {
  height: 100%;
  background-color: black;
}
.App {
  text-align: center;
}
.header {
  margin-top: 60px;
  height: 100px;
}
.flex {
  display: flex;
}
.en-direction {
  direction: rtl;
}
span {
  text-decoration: none;
  margin: 0 auto;
  margin-right: 20px;
  font-size: 24px;
  color: white;
}
span:hover {
  cursor: pointer;
  opacity: 0.9;
}
.selected {
  color: green;
  text-decoration: underline;
}
.full-width {
  width: 100%;
}
.profit {
  color: white;
  font-size: 24px;
  margin-top: 20px;
}
.app-calculator {
  position: relative;
}
.top-inputs {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-bottom: 40px;
}
.currency-input {
  margin: 20px;
  width: 10% !important;
}
.green {
  color: green;
}
.red {
  color: red;
}
label {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  img {
    width: 100% !important;
  }
  .full-width {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .span {
    display: inline-block;
  }
  .currency-input {
    width: unset !important;
    margin: unset;
    margin-left: 15px;
  }
}
